Source: ros-hydro-pr2-2dnav
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-pr2-machine, ros-hydro-pr2-navigation-global, ros-hydro-pr2-navigation-perception, ros-hydro-pr2-navigation-teleop
Homepage: http://ros.org/wiki/pr2_2dnav
Standards-Version: 3.9.2

Package: ros-hydro-pr2-2dnav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-machine, ros-hydro-pr2-navigation-global, ros-hydro-pr2-navigation-perception, ros-hydro-pr2-navigation-teleop
Description: This application allows the PR2 robot to navigate autonomously with a pre-specified static map.
